/* Universal styles */
body {
    font-family: Helvetica, Arial, Sans-serif;
    max-width: 1200px;
    align-content: center;
    margin: auto;
    
}

h1 {
    font-family: 'Cantarell', sans-serif;
    color: #52B3A2;
}

h2, h3 {
    text-transform: uppercase;
    color: #8A2A8C;
}

a {
  color: #8A2A8C; 
  text-decoration: none; 
}

/* Header Section */
header {
    border-bottom:rgb(233,233,233);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 90px;
    max-width: 1200px;
    position: fixed; 
    z-index: 1;  
    background-color: white;
    top: 0; 
}

nav { 
    margin-left: auto;
    margin-right: 10px;
}

 nav ul {
     list-style: none;
     display: flex; 
     align-items: center;  
 }

 li a {
     text-decoration: none;
     display: flex;
     float: right;
     margin: 5px;
     text-align: center;
     font-family: 'Cantarell', sans-serif;
     color: #52B3A2;
     text-align: center;
 }

 @media only screen and (max-width: 800px) {
    header {
        text-align: center;
        width: 100%;
    }

    h1 {
        font-size: 1rem;
    }

     nav {
         display: none;
     }
 }

/* Introduction Section */
#introduction {
    background-color: #FFE99C;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    margin: 90px 0 10px 0;
    
}

h2 {
    text-align: center;
}

button {
    background-color: #52B3A2;
    border: 1px solid #52B3A2;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    padding: 10px;

}

button:hover {
    background-color:#8A2A8C;
    border: 1px solid #8A2A8C;
    border-radius: 4px;
    color: white;
    font-size: 22px;
    padding: 10px;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo { 
    width: 400px;
    border-radius: 4px;
    
}

figcaption {
    text-align: center;
    color: #464646;
}

@media only screen and (max-width: 800px) {
    .intro {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap row;
    }

    .photo{
        width: 300px;
        border-radius: 4px;  
    }

    body {
        overflow-x: hidden;
    }
    
}


/* Cerebral Palsy Section */
#cp {
    position: relative;
    background-color: #BAFFF5;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}


.cp-section {
    display: flex;
    justify-content: center;

}



@media only screen and (max-width: 800px) {
    .cp-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap row;
    }
    
}


/* Limitations Section */

#limitations {
    background-color: #FECFFF;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}

.limitations-gallery {
    display: flex;
    justify-content: center;
}

.gallery-photo {
    width: 300px;
    border-radius: 4px;
}

@media only screen and (max-width: 800px) {
    .limitations-gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap row;
    }
    
}

/* Qualities Section */
#qualities {
    background-color: #FFE99C;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}

.qualities-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#qualities ul li::before {
    content: "\2764";  
    color: #52B3A2; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
    
  
    
}


@media only screen and (max-width: 800px) {
    .qualities-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap row;
    }  
}

/* Values Section */
#values {
    background-color: #BAFFF5;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}

.values-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#values ul li::before {
    content: "\2764";  
    color: #8A2A8C; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
    
  
    
}



@media only screen and (max-width: 800px) {
    .values-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap row;
    }
    
}

/* Needs Section */

#needs {
    background-color: #FECFFF;
    border-radius: 4px;
    padding: 20px;
    margin: 10px 0;
}

.needs-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.needs-container img {
    width: 400px;
}

.needs-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap row;
    width: 100%;
    text-align: center; 
}


.item {
    margin: 10px;
    width: 200px;
}

.item .icon {
    color: #52B3A2;
    font-size: 130px;
}

@media only screen and (max-width: 800px) {
    .needs-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: wrap row;
    }

    .needs-container img {
        width: 300px;
    }
    
}

/* Footer Section */
footer {
    background-color: #52B3A2;
    padding: 20px;
    color: white;
    border-radius: 4px;
}

footer h2 {
    color: white;
}

footer a {
    color: #FFE99C;
}